{% include('front/header.html') %}
	<!-- Header -->

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="sub-page" style="left: 20px;">
		
		<!-- //////////// -->
		<article class="box-content container">
			<div class="svg-container single-post-svg svg-block">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
					<g transform="translate(0,-902.36218)"></g>
					  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
					  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
					  <path d="m 1925,0 0,150 -1925,0"></path>
				</svg>
			</div>

			<div class="post" style="">
				<h1 class="entry-title">{{info.name}}</h1>
					<div class="single-thumb">
						<img src="{{info.img}}" alt="About">
					</div>
				<div class="note">
                    {{ info.content }}
			</div>
			<div class="svg-container single-post-svg single-svg-bottom svg-block">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 150">
				  <g transform="translate(0,-902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="M 0,150 0,0 1925,0"></path>
				</svg>
			</div>
		</article>
		
		<div class="comment-respond container">
			<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>

		</div>
	</div>
	
	<div class="svg-container footer-svg svg-block">
		
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
			<g transform="translate(0,-902.36218)"></g>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 1925,0 0,150 -1925,0"></path>
		</svg>
		</div>
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">

						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- Top Slider -->
    <script src="../../static/front/js/jquery.js"></script>
   
	<!-- Menu Js -->
	<script src="../../static/front/js/materialMenu.js"></script>
	<script>
	  var menu = new Menu;
	</script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="../../static/front/js/bootstrap.min.js"></script>
</body>
</html>