<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <title>学生创新项目中心网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

    <!-- styles -->

    <link href="../../static/front/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/front/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../static/front/css/style.css">
    <link rel="stylesheet" href="../../static/front/css/menu.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../static/front/js/html5shiv.js"></script>
    <script src="../../static/front/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="wrapper">

<!-- /////////////////////////////////////////Navigation -->
<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
<nav id="mm-menu" class="mm-menu">
    <div class="mm-menu__header">
        <h2 class="mm-menu__title">学生创新中心系统</h2>
    </div>
    <ul class="mm-menu__items">
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="main.html">
                <span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="apply.html">
                <span class="mm-menu__link-text"><i class="fa fa-inbox"></i> Apply</span>
            </a>
        </li>
          <li class="mm-menu__item">
            <a class="mm-menu__link" href="huibao.html">
                <span class="mm-menu__link-text"><i class="fa fa-user"></i> Summary</span>
            </a>
        </li>
    </ul>
</nav><!-- /nav -->

<!-- /////////////////////////////////////////Header -->
<div class="top-header">
    <div class="container">
        <ul class="list-inline top-social">
            <h3 style="color:white;right:10px;">{% if session.get(config.FRONT_CUSTOMER_NAME)==None %}游客
                <a href="{{ url_for('front.login') }}?url={{ request.path }}" style="color: white">登陆/注册</a></h3>
            {% else %}<a href="jindu.html">{{ session.get(config.FRONT_CUSTOMER_NAME) }}</a>&nbsp;&nbsp;
                <a href="{{ url_for('front.logout') }}" style="color:white">注销</a>{% endif %}

        </ul>
    </div>
</div>


<div class="svg-container nav-svg svg-block">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
        <g transform="translate(0,-902.36218)"></g>
        <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
        <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
        <path d="M 0,150 0,0 1925,0"></path>
    </svg>
</div>
<header id="masthead" class="site-header" role="banner" style="background-position: 50% -50px;">
    <div class="overlay">
    </div>
    <div class="container">
        <div class="site-branding">
            <a href="index.html" title="学生创新中心网页"><h1 style="color: white">学生创新中心系统</h1></a>
        </div><!-- .site-branding -->
    </div>
    <div class="svg-container header-svg svg-block">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
            <g transform="translate(0,-902.36218)"></g>
            <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
            <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
            <path d="m 1925,0 0,150 -1925,0"></path>
        </svg>
    </div>
</header><!-- #masthead -->