{% include('front/header.html')%}
	<!-- Header -->
	<!-- /////////////////////////////////////////Content -->
{% include('front/project-list.html')%}

	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- Top Slider -->
    <script src="../../static/front/js/jquery.js"></script>
   
	<!-- Menu Js -->
	<script src="../../static/front/js/materialMenu.js"></script>
	<script>
	  var menu = new Menu;
	</script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="../../static/front/js/bootstrap.min.js"></script>
</body>
</html>