<div id="page-content" class="index-page">
    <!-- ////////////Content Box 01 -->
    <section class="box-content box-5 box-style-3" id="nav-blog">
        <div class="container">
            <div class="row">
                {% for i in page_data.items %}
                    <div class="col-md-4">
                        <div class="box-item">
                            <div class="svg-container post-svg svg-block">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
                                    <g transform="translate(0,-902.36218)"></g>
                                    <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
                                    <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
                                    <path d="M 0,150 0,0 1925,0"></path>
                                </svg>
                            </div>
                            <div class="entry-thumb">
                                <img class="img-responsive" src="{{ i.img }}">
                                <a class="thumb-link" href="detail.html"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="content">
                                <h3 class="entry-title">
                                    <a href="detail.html">{{ i.name }}</a>
                                </h3>
                                <p>{{ i.content }}</p>
                                <span>{{ i.applyDate }}</span><br>
                            </div>
                            <div class="read-more">
                                <a href="detail.html?ApplyId={{ i.id }}">Continue reading …</a>
                            </div>
                            <div class="svg-container post-bottom-svg svg-block">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
                                    <g transform="translate(0,-902.36218)"></g>
                                    <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
                                    <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
                                    <path d="m 1925,0 0,150 -1925,0"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div height="30" align="center">
            <font style="color: white">总共页数：{{ nu%3 }}</font>
            [{{ page_data.page }}/{{ page_data.pages }}]&nbsp;
            <a href="{{ url_for('front.index',page=1) }}" style="color:white">第一页</a>
            {% if page_data.has_prev %}
                <a href="front.index" style="color: white">上一页</a>
            {% endif %}
            {% if page_data.has_next %}
                <a href="{{ url_for('front.index',page=page_data.next_num) }}" style="color:white">下一页</a>#}
            {% endif %}　
            <a href="{{ url_for('front.index',page=page_data.pages) }}" style="color:white">最后一页&nbsp;</a>

        </div>

    </section>

</div>
<div class="svg-container footer-svg svg-block">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
        <g transform="translate(0,-902.36218)"></g>
        <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
        <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
        <path d="m 1925,0 0,150 -1925,0"></path>
    </svg>
</div>
